language: python
python: 2.7
virtualenv:
  system_site_packages: true
env:
  global:
    LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
  matrix:
    - TOXENV=check
    - TOXENV=2.6,coveralls
    - TOXENV=2.6-nocover
    - TOXENV=2.7,coveralls
    - TOXENV=2.7-nocover
before_install:
  - python --version
  - virtualenv --version
  - pip --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
  - sudo apt-get update
  - sudo apt-get install python-pyside
script:
  - tox -v
notifications:
  email:
    on_success: never
    on_failure: never
